ServerContainer/ipch/servercontainer-38653f50/servercontainer-36aa4006.ipch
ServerContainer/ServerContainer.opensdf
ServerContainer/ServerContainer.v12.suo
ServerContainer/ServerContainer.sdf
*.filters